exportPattern("^[[:alpha:]]+")
import(dplyr)
import(ggplot2)
import(tidyr)
import(readr)
import(DESeq2)
import(tidyverse)
import(readxl)

export(load_common_libraries)
export(generate_random_numbers)
export(generate_random_words)
export(change_column_category)
export(simple_summary)
